#footer{
    background-image: url(../B10A1-Challenge-Begins/assets/handshake.jpg);
    width: 1044px;
    height: 186px;
    left: 150px;
    right: 150px;
    top: 4752px;
    bottom: 179px;
    padding: 64px 48px 64px 48px;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;

}

.halka{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
#footer button  {
    width: 120px;
    height: 58px;   
}
#footer input {
    width: 548px;
    height: 57px;
}

.footer-social-media{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 32px 150px 32px 150px;
    justify-content: space-between;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    margin-top: 69px;
}

/* footer end here */